.idea
**.gz
**.bz2
__pycache__

research/parsing-wiki-dumps/*.sql
research/parsing-wiki-dumps/*.csv
research/parsing-wiki-dumps/*.json
research/parsing-wiki-dumps/*.rocksdb
research/parsing-wiki-dumps/data

research/learning-to-rank/*.jsonl
research/custom-collections/ranks.json
.ipynb_checkpoints/
*.ipynb
*.jsonl
