Wikidata==0.7.0
Wikipedia-API==0.5.8
jsonlines
sparqlwrapper
tqdm
git+https://github.com/apohllo/wikimapper@primary-mapping
more_itertools
ens-normalize
pytest
rocksdict
regex
lightrdf
kwnlp_sql_parser
web3
hydra-core
